# Rust
/target
Cargo.lock
**/*.rs.bk
*.pdb

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/
*.code-workspace

# Sistema Operacional
.DS_Store
Thumbs.db

# Temporários
*.swp
*.swo
*~
.#*
