# Rust
/target
**/*.rs.bk
*.pdb

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/
*.code-workspace

# Sistema Operacional
.DS_Store
Thumbs.db

# Temporários
*.swp
*.swo
*~
.#*

# Banco de Dados
*.db
!resources/savesentry.db
/dist/
/.omo/
/.serena/
/.slim/
